In [1]:
# Data manipulation and analysis
import pandas as pd
import numpy as np

# Statistical modeling and diagnostics
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.stats.diagnostic import het_breuschpagan, het_white
from statsmodels.stats.stattools import jarque_bera

# Machine learning and preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Data source
from ucimlrepo import fetch_ucirepo

# Configure plotting
plt.style.use('default')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (10, 6)
plt.rcParams['font.size'] = 11

print("All libraries imported successfully")

All libraries imported successfully

### Importing apple data

In [2]:
df = pd.read_csv('raw_data/apple_options.csv')
df

,secid,date,days,forward_price,strike_price,premium,impl_volatility,delta,gamma,theta,vega,cp_flag,cusip,ticker,sic,index_flag,exchange_d,class,issue_type,industry_group
0,101594,2003-01-02,10,14.805549,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,C,3783310,AAPL,3571,0,4,NaN,0,NaN
1,101594,2003-01-02,30,14.813368,14.813368,0.841441,0.497594,0.528298,0.188362,-5.182076,1.688160,C,3783310,AAPL,3571,0,4,NaN,0,NaN
2,101594,2003-01-02,60,14.819440,14.819440,1.175942,0.492491,0.539221,0.134143,-3.610675,2.379834,C,3783310,AAPL,3571,0,4,NaN,0,NaN
3,101594,2003-01-02,91,14.843963,14.843963,1.462859,0.497691,0.549146,0.107542,-2.993675,2.924233,C,3783310,AAPL,3571,0,4,NaN,0,NaN
4,101594,2003-01-02,122,14.866787,14.866787,1.696889,0.498870,0.557222,0.092443,-2.607087,3.378008,C,3783310,AAPL,3571,0,4,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114439,101594,2023-08-31,182,192.666617,192.666617,12.291289,0.221722,-0.502078,0.015307,-7.351980,51.660217,P,3783310,AAPL,3571,0,4,NaN,0,NaN
114440,101594,2023-08-31,273,195.319096,195.319096,15.962474,0.230937,-0.507065,0.012613,-5.532284,62.376901,P,3783310,AAPL,3571,0,4,NaN,0,NaN
114441,101594,2023-08-31,365,198.008318,198.008318,19.469372,0.239976,-0.510967,0.010967,-4.504729,71.749699,P,3783310,AAPL,3571,0,4,NaN,0,NaN
114442,101594,2023-08-31,547,202.941339,202.941339,25.079122,0.245732,-0.520578,0.009445,-3.134944,84.670341,P,3783310,AAPL,3571,0,4,NaN,0,NaN
114443,101594,2023-08-31,730,206.814644,206.814644,29.758262,0.248764,-0.523068,0.008488,-2.490210,97.787244,P,3783310,AAPL,3571,0,4,NaN,0,NaN

In [3]:
df['moneyness'] = df['forward_price']/df['strike_price']
df

,secid,date,days,forward_price,strike_price,premium,impl_volatility,delta,gamma,theta,...,cp_flag,cusip,ticker,sic,index_flag,exchange_d,class,issue_type,industry_group,moneyness
0,101594,2003-01-02,10,14.805549,0.000000,0.000000,NaN,NaN,NaN,NaN,...,C,3783310,AAPL,3571,0,4,NaN,0,NaN,inf
1,101594,2003-01-02,30,14.813368,14.813368,0.841441,0.497594,0.528298,0.188362,-5.182076,...,C,3783310,AAPL,3571,0,4,NaN,0,NaN,1.0
2,101594,2003-01-02,60,14.819440,14.819440,1.175942,0.492491,0.539221,0.134143,-3.610675,...,C,3783310,AAPL,3571,0,4,NaN,0,NaN,1.0
3,101594,2003-01-02,91,14.843963,14.843963,1.462859,0.497691,0.549146,0.107542,-2.993675,...,C,3783310,AAPL,3571,0,4,NaN,0,NaN,1.0
4,101594,2003-01-02,122,14.866787,14.866787,1.696889,0.498870,0.557222,0.092443,-2.607087,...,C,3783310,AAPL,3571,0,4,NaN,0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114439,101594,2023-08-31,182,192.666617,192.666617,12.291289,0.221722,-0.502078,0.015307,-7.351980,...,P,3783310,AAPL,3571,0,4,NaN,0,NaN,1.0
114440,101594,2023-08-31,273,195.319096,195.319096,15.962474,0.230937,-0.507065,0.012613,-5.532284,...,P,3783310,AAPL,3571,0,4,NaN,0,NaN,1.0
114441,101594,2023-08-31,365,198.008318,198.008318,19.469372,0.239976,-0.510967,0.010967,-4.504729,...,P,3783310,AAPL,3571,0,4,NaN,0,NaN,1.0
114442,101594,2023-08-31,547,202.941339,202.941339,25.079122,0.245732,-0.520578,0.009445,-3.134944,...,P,3783310,AAPL,3571,0,4,NaN,0,NaN,1.0
114443,101594,2023-08-31,730,206.814644,206.814644,29.758262,0.248764,-0.523068,0.008488,-2.490210,...,P,3783310,AAPL,3571,0,4,NaN,0,NaN,1.0

In [ ]:
# Examine the data structure
print("Data shape:", df.shape)
print("\nColumns:", df.columns.tolist())
print("\nData types:")
print(df.dtypes)
print("\nFirst few rows:")
df.head(10)

In [ ]:
# Check unique dates and data availability
print("Date range:", df['date'].min(), "to", df['date'].max())
print("Number of unique dates:", df['date'].nunique())
print("\nCall/Put flag distribution:")
print(df['cp_flag'].value_counts())
print("\nMoneyness range:")
print(f"Min: {df['moneyness'].min():.3f}, Max: {df['moneyness'].max():.3f}")
print(f"Mean: {df['moneyness'].mean():.3f}, Std: {df['moneyness'].std():.3f}")

In [ ]:
# Filter data for OTM puts (moneyness 0.85-0.95) and ATM calls (moneyness 1.0-1.10)
# OTM puts: strike < forward_price, so moneyness = forward/strike > 1, but we want puts with strike below current price
# Actually, for puts, OTM means strike < forward_price, so moneyness > 1
# But the user specified 0.85-0.95, which suggests they want puts with strike/forward in that range
# Let me clarify: moneyness = forward_price/strike_price

# For puts: OTM when strike < forward (moneyness > 1), but user wants 0.85-0.95 range
# This suggests they want strike/forward ratio of 0.85-0.95, so moneyness = forward/strike = 1/0.85 to 1/0.95
# Let me use the user's definition directly: moneyness range 0.85-0.95 for OTM puts

otm_puts = df[(df['cp_flag'] == 'P') & 
              (df['moneyness'] >= 0.85) & 
              (df['moneyness'] <= 0.95) &
              (df['impl_volatility'].notna())]

atm_calls = df[(df['cp_flag'] == 'C') & 
               (df['moneyness'] >= 1.0) & 
               (df['moneyness'] <= 1.10) &
               (df['impl_volatility'].notna())]

print("OTM Puts shape:", otm_puts.shape)
print("ATM Calls shape:", atm_calls.shape)
print("\nOTM Puts moneyness stats:")
print(otm_puts['moneyness'].describe())
print("\nATM Calls moneyness stats:")
print(atm_calls['moneyness'].describe())

In [ ]:
# Calculate average implied volatility by date for each group
otm_put_iv = otm_puts.groupby('date')['impl_volatility'].mean().reset_index()
otm_put_iv.columns = ['date', 'iv_otm_put']

atm_call_iv = atm_calls.groupby('date')['impl_volatility'].mean().reset_index()
atm_call_iv.columns = ['date', 'iv_atm_call']

# Merge the two datasets
skew_data = pd.merge(otm_put_iv, atm_call_iv, on='date', how='inner')

# Calculate SKEW = IV_OTM_put - IV_ATM_call
skew_data['skew'] = skew_data['iv_otm_put'] - skew_data['iv_atm_call']

print("SKEW data shape:", skew_data.shape)
print("\nFirst few rows:")
print(skew_data.head())
print("\nSKEW statistics:")
print(skew_data['skew'].describe())

In [ ]:
# Get forward prices by date (assuming they're consistent within each date)
forward_prices = df.groupby('date')['forward_price'].first().reset_index()
forward_prices.columns = ['date', 'forward_price']

# Convert date to datetime for easier manipulation
forward_prices['date'] = pd.to_datetime(forward_prices['date'])
skew_data['date'] = pd.to_datetime(skew_data['date'])

# Sort by date
forward_prices = forward_prices.sort_values('date').reset_index(drop=True)
skew_data = skew_data.sort_values('date').reset_index(drop=True)

print("Forward prices shape:", forward_prices.shape)
print("Date range:", forward_prices['date'].min(), "to", forward_prices['date'].max())
print("\nFirst few forward prices:")
print(forward_prices.head())

In [ ]:
# Calculate next week returns
# We'll define "next week" as approximately 7 days ahead
forward_prices['next_week_date'] = forward_prices['date'] + pd.Timedelta(days=7)

# For each date, find the closest forward price within a reasonable window (±3 days)
returns_data = []

for i, row in forward_prices.iterrows():
    current_date = row['date']
    current_price = row['forward_price']
    target_date = row['next_week_date']
    
    # Find the closest date within ±3 days of target_date
    date_diff = abs(forward_prices['date'] - target_date)
    within_window = date_diff <= pd.Timedelta(days=3)
    
    if within_window.any():
        closest_idx = date_diff[within_window].idxmin()
        next_price = forward_prices.loc[closest_idx, 'forward_price']
        actual_next_date = forward_prices.loc[closest_idx, 'date']
        
        # Calculate return
        next_week_return = (next_price - current_price) / current_price
        
        returns_data.append({
            'date': current_date,
            'current_price': current_price,
            'next_week_date': actual_next_date,
            'next_price': next_price,
            'next_week_return': next_week_return
        })

returns_df = pd.DataFrame(returns_data)
print("Returns data shape:", returns_df.shape)
print("\nFirst few returns:")
print(returns_df.head())
print("\nNext week returns statistics:")
print(returns_df['next_week_return'].describe())

In [ ]:
# Merge SKEW data with returns data
analysis_data = pd.merge(skew_data, returns_df[['date', 'next_week_return']], on='date', how='inner')

print("Final analysis dataset shape:", analysis_data.shape)
print("\nFirst few rows of analysis data:")
print(analysis_data.head())

# Calculate correlation between SKEW and next week returns
correlation = analysis_data['skew'].corr(analysis_data['next_week_return'])
print(f"\nCorrelation between SKEW and next week returns: {correlation:.4f}")

# Additional statistics
print(f"\nNumber of observations: {len(analysis_data)}")
print(f"SKEW mean: {analysis_data['skew'].mean():.4f}")
print(f"SKEW std: {analysis_data['skew'].std():.4f}")
print(f"Next week return mean: {analysis_data['next_week_return'].mean():.4f}")
print(f"Next week return std: {analysis_data['next_week_return'].std():.4f}")

In [ ]:
# Create visualizations
fig, axes = plt.subplots(2, 2, figsize=(15, 12))

# 1. Scatter plot of SKEW vs Next Week Returns
axes[0, 0].scatter(analysis_data['skew'], analysis_data['next_week_return'], alpha=0.6)
axes[0, 0].set_xlabel('SKEW (IV_OTM_put - IV_ATM_call)')
axes[0, 0].set_ylabel('Next Week Return')
axes[0, 0].set_title(f'SKEW vs Next Week Returns\nCorrelation: {correlation:.4f}')
axes[0, 0].grid(True, alpha=0.3)

# Add trend line
z = np.polyfit(analysis_data['skew'], analysis_data['next_week_return'], 1)
p = np.poly1d(z)
axes[0, 0].plot(analysis_data['skew'], p(analysis_data['skew']), "r--", alpha=0.8)

# 2. Time series of SKEW
axes[0, 1].plot(analysis_data['date'], analysis_data['skew'])
axes[0, 1].set_xlabel('Date')
axes[0, 1].set_ylabel('SKEW')
axes[0, 1].set_title('SKEW Over Time')
axes[0, 1].grid(True, alpha=0.3)
axes[0, 1].tick_params(axis='x', rotation=45)

# 3. Time series of Next Week Returns
axes[1, 0].plot(analysis_data['date'], analysis_data['next_week_return'])
axes[1, 0].set_xlabel('Date')
axes[1, 0].set_ylabel('Next Week Return')
axes[1, 0].set_title('Next Week Returns Over Time')
axes[1, 0].grid(True, alpha=0.3)
axes[1, 0].tick_params(axis='x', rotation=45)

# 4. Distribution of SKEW
axes[1, 1].hist(analysis_data['skew'], bins=30, alpha=0.7, edgecolor='black')
axes[1, 1].set_xlabel('SKEW')
axes[1, 1].set_ylabel('Frequency')
axes[1, 1].set_title('Distribution of SKEW')
axes[1, 1].grid(True, alpha=0.3)

plt.tight_layout()
plt.show()

In [ ]:
# Statistical analysis
from scipy import stats

# Perform linear regression
X = analysis_data['skew'].values.reshape(-1, 1)
y = analysis_data['next_week_return'].values

# Add constant for intercept
X_with_const = sm.add_constant(X)
model = sm.OLS(y, X_with_const).fit()

print("=== REGRESSION RESULTS ===")
print(model.summary())

# Calculate correlation and its significance
n = len(analysis_data)
correlation = analysis_data['skew'].corr(analysis_data['next_week_return'])
t_stat = correlation * np.sqrt((n - 2) / (1 - correlation**2))
p_value = 2 * (1 - stats.t.cdf(abs(t_stat), n - 2))

print(f"\n=== CORRELATION ANALYSIS ===")
print(f"Correlation coefficient: {correlation:.4f}")
print(f"t-statistic: {t_stat:.4f}")
print(f"p-value: {p_value:.4f}")
print(f"Sample size: {n}")

# Interpretation
if p_value < 0.05:
    significance = "statistically significant"
else:
    significance = "not statistically significant"

print(f"\nThe correlation is {significance} at the 5% level.")

if correlation < 0:
    direction = "negative"
    interpretation = "Higher SKEW is associated with lower future returns"
else:
    direction = "positive" 
    interpretation = "Higher SKEW is associated with higher future returns"

print(f"Direction: {direction} correlation")
print(f"Interpretation: {interpretation}")

In [ ]:
# Additional analysis: Examine relationship in different SKEW regimes
# Divide data into high, medium, and low SKEW periods

analysis_data['skew_tercile'] = pd.qcut(analysis_data['skew'], 3, labels=['Low SKEW', 'Medium SKEW', 'High SKEW'])

print("=== ANALYSIS BY SKEW TERCILES ===")
tercile_analysis = analysis_data.groupby('skew_tercile')['next_week_return'].agg(['count', 'mean', 'std'])
print(tercile_analysis)

# Test if returns are significantly different across terciles
low_returns = analysis_data[analysis_data['skew_tercile'] == 'Low SKEW']['next_week_return']
medium_returns = analysis_data[analysis_data['skew_tercile'] == 'Medium SKEW']['next_week_return']
high_returns = analysis_data[analysis_data['skew_tercile'] == 'High SKEW']['next_week_return']

# ANOVA test
f_stat, anova_p = stats.f_oneway(low_returns, medium_returns, high_returns)
print(f"\nANOVA test across terciles:")
print(f"F-statistic: {f_stat:.4f}")
print(f"p-value: {anova_p:.4f}")

# Pairwise t-tests
print(f"\nPairwise comparisons:")
t_low_high, p_low_high = stats.ttest_ind(low_returns, high_returns)
print(f"Low vs High SKEW: t={t_low_high:.4f}, p={p_low_high:.4f}")

# Summary statistics
print(f"\n=== SUMMARY ===")
print(f"Does higher SKEW predict lower returns? {correlation < 0}")
print(f"Is the relationship statistically significant? {p_value < 0.05}")
print(f"Economic magnitude: A 1-unit increase in SKEW is associated with a {model.params[1]:.4f} change in next week returns")

# Create a final summary visualization
plt.figure(figsize=(12, 5))

plt.subplot(1, 2, 1)
analysis_data.boxplot(column='next_week_return', by='skew_tercile', ax=plt.gca())
plt.title('Next Week Returns by SKEW Tercile')
plt.suptitle('')  # Remove automatic title
plt.ylabel('Next Week Return')

plt.subplot(1, 2, 2)
plt.scatter(analysis_data['skew'], analysis_data['next_week_return'], alpha=0.6)
plt.plot(analysis_data['skew'], model.predict(X_with_const), 'r-', linewidth=2)
plt.xlabel('SKEW')
plt.ylabel('Next Week Return')
plt.title(f'SKEW vs Returns (r={correlation:.3f}, p={p_value:.3f})')
plt.grid(True, alpha=0.3)

plt.tight_layout()
plt.show()